th{	font-weight: bold; }

.mat-column-name{ min-width: 250px; }

.mat-column-code, .mat-column-coefficient{ 
	min-width: 120px;
	text-align: end;
}

.mat-column-omnicommId{	
	min-width: 170px;
	text-align: end;
}

.mat-column-operations{
	width: 248px;
	padding-right: 0;
	text-align: end;
}
