th{
	font-weight: bold;
}

.mat-column-code{
	width: 30%;
}

mat-form-field{
	width: 184px;
	margin-left: -16px;
}

.mat-column-operations{
	min-width: 240px; 
	width: 240px;    
	padding: 0;
	text-align: end;
}
