<h1 class="leading-10 text-center bg-neutral-100 mt-4 py-2">{{title}}</h1>
<div class="container table-density-3 form-field-density-5">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название транспорта </th>
      <td mat-cell *matCellDef="let transport" [ngSwitch]="transport.id">
        <mat-form-field *ngSwitchCase="editableTransport.id">
          <input matInput [(ngModel)]="editableTransport.name">
        </mat-form-field>
        <span *ngSwitchDefault>{{transport.name}}</span></td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Шифр </th>
      <td mat-cell *matCellDef="let transport" [ngSwitch]="transport.id">  
        <mat-form-field *ngSwitchCase="editableTransport.id">
          <input matInput [(ngModel)]="editableTransport.code">
        </mat-form-field>
        <span *ngSwitchDefault>{{transport.code}}</span></td>
    </ng-container>

    <ng-container matColumnDef="coefficient">
      <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Коэффициент </th>
      <td mat-cell *matCellDef="let transport" [ngSwitch]="transport.id">  
        <mat-form-field *ngSwitchCase="editableTransport.id">
          <input matInput [(ngModel)]="editableTransport.coefficient">
        </mat-form-field>
        <span *ngSwitchDefault>{{transport.coefficient}}</span></td>
    </ng-container>

    <ng-container matColumnDef="omnicommId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Omnicomm ID </th>
      <td mat-cell *matCellDef="let transport" [ngSwitch]="transport.id">  
        <mat-form-field *ngSwitchCase="editableTransport.id">
          <input matInput [(ngModel)]="editableTransport.omnicommId">
        </mat-form-field>
        <span *ngSwitchDefault>{{transport.omnicommId}}</span></td>
    </ng-container>

    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Добавить</button>
      </th>
      <td mat-cell *matCellDef="let transport" [ngSwitch]="transport.id" class="button-density-2">
        <div *ngSwitchCase="editableTransport.id" class="flex justify-end">
          <button mat-raised-button color="green" (click)="updateTransport()" class="table-button-1">
            <mat-icon>check</mat-icon>Сохранить</button>
          <button mat-raised-button color="grey" (click)="cancel()" class="table-button-2">
            <mat-icon>close</mat-icon>Отмена</button>
        </div>
        <div *ngSwitchDefault class="flex justify-end">
          <button mat-raised-button color="primary" (click)="editTransport(transport)" class="table-button-1">
            <mat-icon>edit</mat-icon>Изменить</button>
          <button mat-raised-button color="warn" (click)="openDeleteDialog(transport)" class="table-button-2">
            <mat-icon>delete</mat-icon>Удалить</button>
        </div>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
