<table mat-table [dataSource]="dataSource" class="table-density-4 table-font-16">

  <ng-container matColumnDef="driver">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Водитель </th>
    <td mat-cell *matCellDef="let row">
      <span class="code-cell bg-emerald-600 px-1.5">{{row.driver.personnelNumber}}</span>
      {{row.driver | driverFullName}}
    </td>
    <td mat-footer-cell *matFooterCellDef> Итого </td>
  </ng-container>

  <ng-container matColumnDef="transport">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Транспорт </th>
    <td mat-cell *matCellDef="let row">
      <span class="code-cell bg-cyan-800 px-1.5">{{row.transport.code}}</span>
      {{row.transport.name}}
    </td>
    <td mat-footer-cell *matFooterCellDef> Итого </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Дата </th>
    <td mat-cell *matCellDef="let row">{{row.date | rangeDate : row.days}}</td>
    <td mat-footer-cell *matFooterCellDef>
      @if (this.identifiers.driverId != 0 && this.identifiers.transportId != 0) {
        <div class="text-start"> Итого </div>
      }
    </td>
  </ng-container>
  
  <ng-container matColumnDef="startFuel">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Остаток на начало </th>
    <td mat-cell *matCellDef="let row">{{row.startFuel}}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="fuelTopUp">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Выдано топлива </th>
    <td mat-cell *matCellDef="let row">{{row.fuelTopUp}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalFuelTopUp()}}</td>
  </ng-container>

  <ng-container matColumnDef="endFuel">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Остаток на конец</th>
    <td mat-cell *matCellDef="let row">{{row.endFuel}}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="check">
    <th mat-header-cell *matHeaderCellDef rowspan="2"></th>
    <td mat-cell *matCellDef="let row; let index = index">
      @if (analyze(index)) {
        <mat-icon class="text-green-500">check</mat-icon>        
      } @else {
        <mat-icon class="text-red-500">error</mat-icon>        
      }
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="fuelConsumption">
    <th mat-header-cell *matHeaderCellDef colspan="2"> <div class="fuel-consumption-header">Расход</div> </th>    
  </ng-container>
  
  <ng-container matColumnDef="factFuelConsumption">
    <th mat-header-cell *matHeaderCellDef> По факту </th>
    <td mat-cell *matCellDef="let row">{{row.factFuelConsumption}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalFactFuelConsumption()}}</td>
  </ng-container>

  <ng-container matColumnDef="normalFuelConsumption">
    <th mat-header-cell *matHeaderCellDef> По норме </th>
    <td mat-cell *matCellDef="let row">{{row.normalFuelConsumption}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalNormalFuelConsumption()}}</td>
  </ng-container>

  <ng-container matColumnDef="fuelEconomy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" rowspan="2"> Экономия/пережог </th>
    <td mat-cell *matCellDef="let row" class="font-bold" [class]="row.fuelEconomy < 0 ? 'text-red-500' : 'text-green-500'">
      {{row.fuelEconomy}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalFuelEconomy()}}</td>
  </ng-container>

  <ng-container matColumnDef="open">
    <th mat-header-cell *matHeaderCellDef rowspan="2"></th>
    <td mat-cell *matCellDef="let row" class="icon-button-density-3">
      <button mat-icon-button color="primary" (click)="openDialog(row.id)"><mat-icon>open_in_new</mat-icon></button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="mainHeadersColumns; sticky: true" class="small-header"></tr>
  <tr mat-header-row *matHeaderRowDef="childHeadersColumns; sticky: true" class="small-header"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns;" class="hoverable-row"></tr>
  <tr mat-footer-row *matFooterRowDef="dataColumns; sticky: true" class="table-footer *:text-lg"></tr>

</table>  
