th{ font-weight: bold; }

.mat-column-name{ min-width: 320px; }

.mat-column-norm, .mat-column-value, .mat-column-fuelConsumption{ text-align: end; }

.mat-column-operations{
	width: 248px;
	padding-right: 0;
	text-align: end;
}