<nav mat-tab-nav-bar [tabPanel]="tabPanel" mat-stretch-tabs="false">
	<div class="mr-auto invisible"></div>
	@for (route of routes; track route) {
		<a mat-tab-link routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" routerLink="{{route.link}}">
			<span class="label">{{route.label}}</span>
		</a>
  }
	<div class="flex items-center gap-2 form-field-density-5 ml-auto pr-4">
		<mat-form-field class="w-40">
			<mat-select [(ngModel)]="dateService.month">
				@for (month of dateService.months; track month) {
					<mat-option [value]="$index + 1">{{month}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field class="w-24">
			<mat-select [(ngModel)]="dateService.year">
				@for (year of dateService.years; track year) {
					<mat-option [value]="year">{{year}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
	</div>
</nav>
<mat-tab-nav-panel #tabPanel>
	<router-outlet></router-outlet>
</mat-tab-nav-panel>