<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="table-density-4 table-font-16">

  <ng-container matColumnDef="entity">
    <th mat-header-cell *matHeaderCellDef rowspan="2"> Транспорт </th>
    <td mat-cell *matCellDef="let row">
      <div class="flex gap-1 items-center mat-table-row-height">
        <span class="code-cell bg-cyan-800 px-1.5">{{row.transport.code}}</span>
        {{row.transport.name}}
      </div>
      @if (row.subTotals.length === 1) {
        <div class="text-14 h-[25px] pl-8" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
          <span class="code-cell bg-emerald-600 px-1">{{row.subTotals[0].driver.personnelNumber}}</span>
          {{row.subTotals[0].driver | driverFullName}}
        </div>
      }
    </td>
    <td mat-footer-cell *matFooterCellDef> Итого </td>
  </ng-container>

  <ng-container matColumnDef="openWaybills">
    <th mat-header-cell *matHeaderCellDef rowspan="2"></th>
    <td mat-cell *matCellDef="let row" class="icon-button-density-3">
      <button mat-icon-button color="primary" (click)="sendIdentifiers(0, row.transport.id); $event.stopPropagation()">
        <mat-icon>keyboard_tab</mat-icon>
      </button>  
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="startFuel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" rowspan="2"> Начало </th>
    <td mat-cell *matCellDef="let row">{{row.startFuel}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalStartFuel()}}</td>
  </ng-container>
  
  <ng-container matColumnDef="fuelTopUp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" rowspan="2"> Выдано </th>
    <td mat-cell *matCellDef="let row">{{row.fuelTopUp}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalFuelTopUp()}}</td>
  </ng-container>

  <ng-container matColumnDef="factFuelConsumption">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" rowspan="2"> Расход </th>
    <td mat-cell *matCellDef="let row">{{row.factFuelConsumption}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalFactFuelConsumption()}}</td>
  </ng-container>
  
  <ng-container matColumnDef="endFuel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Конец </th>
    <td mat-cell *matCellDef="let row">{{row.endFuel}}</td>
    <td mat-footer-cell *matFooterCellDef>{{getTotalEndFuel()}}</td>
  </ng-container>

  <ng-container matColumnDef="deviation">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      @if (row.deviation === 0) {
        <mat-icon class="text-green-500">check</mat-icon>
      } @else {
        <mat-icon class="text-red-700" matBadge="{{row.deviation}}" matBadgeColor="warn" matBadgeSize="small">close</mat-icon>
      }
    </td>
    <td mat-footer-cell *matFooterCellDef>
      @if (getTotalDeviation() === 0) {
        <mat-icon class="text-green-500">check</mat-icon>
      } @else {
        {{getTotalDeviation()}}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      @if (expandedRow === row) {
        <mat-icon>keyboard_arrow_up</mat-icon> 
      } @else {
        <mat-icon matBadge="{{row.subTotals[1] ? row.subTotals.length : null}}">keyboard_arrow_down</mat-icon>
      }            
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="expandedRow">
    <td mat-cell *matCellDef="let row" [attr.colspan]="dataColumns.length">
      <div [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
        <table mat-table [dataSource]="row.subTotals">

          <ng-container matColumnDef="entity">
            <td mat-cell *matCellDef="let row">
              <span class="code-cell bg-emerald-600 px-1 ml-8">{{row.driver.personnelNumber}}</span>
              {{row.driver | driverFullName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="openWaybills">
            <td mat-cell *matCellDef="let subRow" class="icon-button-density-3">
              <button mat-icon-button color="primary" (click)="sendIdentifiers(subRow.driver.id, row.transport.id)">
                <mat-icon>keyboard_tab</mat-icon>
              </button> 
            </td>
          </ng-container>

          <ng-container matColumnDef="startFuel">
            <td mat-cell *matCellDef="let row">{{row.startFuel}}</td>
          </ng-container>
          
          <ng-container matColumnDef="fuelTopUp">
            <td mat-cell *matCellDef="let row">{{row.fuelTopUp}}</td>
          </ng-container>

          <ng-container matColumnDef="factFuelConsumption">
            <td mat-cell *matCellDef="let row">{{row.factFuelConsumption}}</td>
          </ng-container>
          
          <ng-container matColumnDef="endFuel">
            <td mat-cell *matCellDef="let row">{{row.endFuel}}</td>
          </ng-container>

          <ng-container matColumnDef="deviation">
            <td mat-cell *matCellDef="let row">
              @if (row.deviation === 0) {
                <mat-icon class="text-green-500">check</mat-icon>
              } @else {
                <span class="font-bold text-red-700">{{row.deviation}}</span>
              }
            </td>
          </ng-container>
          
          <ng-container matColumnDef="expand">
            <td mat-cell *matCellDef="let row"></td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: dataColumns;" class="hoverable-row"></tr>
        </table>
      </div>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="dataColumns; sticky: true" class="table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: dataColumns;" class="hoverable-row" (click)="expandedRow = expandedRow == row ? null : row"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedRow']; when: subTotalsExist" class="expanded-row" [class.no-border-bottom]="row != expandedRow"></tr>
  <tr mat-footer-row *matFooterRowDef="dataColumns; sticky: true" class="table-footer *:text-lg"></tr>
</table>
