th{ font-weight: bold; }
.table-header{ height: 44px; }

.mat-column-entity{
  min-width: 300px;
  width: 300px;  
}

.mat-column-startFuel, .mat-column-fuelTopUp, .mat-column-factFuelConsumption, .mat-column-endFuel{
  min-width: 112px;
  width: 25%;
  text-align: end;
}

.mat-column-deviation{
  min-width: 88px;
  width: 88px;
  overflow: initial;
  text-align: center;
}

.mat-column-expand{
  min-width: 56px;
  width: 56px;
  overflow: initial;
}

.mat-column-expandedRow{
  padding: 0;
  tr:not(:last-child) td{ border-bottom: 1px solid #E0E0E0; }
}

.no-border-bottom td { border-bottom-width: 0; }
