th{ font-weight: bold; }
.small-header{ height: 22px; }

.mat-column-number, .mat-column-date, .mat-column-days, .mat-column-hours, .mat-column-earnings, 
.mat-column-factFuelConsumption, .mat-column-normalFuelConsumption, .mat-column-conditionalReferenceHectares{
  text-align: end;
}

.mat-column-fuel{
  padding: 0 0 0 3%;
  text-align: center;
}

.mat-column-number, .mat-column-date{
  padding: 0 16px 0 0;
}

.mat-column-transportName, .mat-column-days, .mat-column-hours, .mat-column-earnings,
.mat-column-factFuelConsumption, .mat-column-normalFuelConsumption, .mat-column-conditionalReferenceHectares{
  padding: 0;
}

.mat-column-number, .mat-column-earnings{ width: 7%; }
.mat-column-driverShortFullName{ width: 14%; }
.mat-column-transportName{ width: 10%; }
.mat-column-days, .mat-column-hours{ width: 5%; }
.mat-column-factFuelConsumption, .mat-column-normalFuelConsumption{ width: 6%; }
.mat-column-conditionalReferenceHectares{ width: 8%; }

.mat-column-fuel{ border-bottom: 0; }

.mat-column-operations{
	width: 260px;    
  padding: 0 0 0 20px;
	text-align: end;
}

.mat-mdc-footer-row td{
  border-top: 1px solid #00000099;
  font-size: 18px;
  font-weight: bold;
  text-align: end;
}
