th{ font-weight: bold; }
.small-header{ height: 22px; }

.mat-column-number, .mat-column-date, .mat-column-driverShortFullName, .mat-column-transportName, .mat-column-date,
.mat-column-days, .mat-column-hours, .mat-column-earnings, .mat-column-weekend, .mat-column-bonus,
.mat-column-factFuelConsumption, .mat-column-normalFuelConsumption, .mat-column-conditionalReferenceHectares,
.mat-column-operations{
  padding-right: 0;
}

.mat-column-number, .mat-column-date, .mat-column-days, .mat-column-hours, .mat-column-earnings, .mat-column-weekend,
.mat-column-bonus, .mat-column-factFuelConsumption, .mat-column-normalFuelConsumption, .mat-column-conditionalReferenceHectares,
.mat-column-operations{
  text-align: end;
}

.mat-column-conditionalReferenceHectares{ width: 9%; }

.mat-column-number, .mat-column-days{ padding-left: 0; }
.mat-column-date, .mat-column-driverShortFullName, .mat-column-transportName{ white-space: nowrap; }
.mat-column-fuel{ border-bottom-width: 0; }

.fuel-header{
  display: flex;
  justify-content: center;
  padding: 0 33.42px 0 45%;
}