<div class="container">
  <div class="header gap-4 button-toggle-density-3">
    <button mat-raised-button class="invisible mr-auto"><mat-icon>description</mat-icon>Скачать</button>
    <h1>Итого</h1>
    <mat-button-toggle-group [(ngModel)]="mainEntity" (ngModelChange)="getMonthTotals()" class="font-bold">
      <mat-button-toggle value="Водитель">По водителям</mat-button-toggle>
      <mat-button-toggle value="Транспорт">По транспорту</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button color="green" class="ml-auto"><mat-icon>description</mat-icon>Скачать</button>
  </div>
  <div class="table-density-4 sort-arrow-margin-0">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  
      <ng-container matColumnDef="mainEntityName">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> {{mainEntity}} </th>
        <td mat-cell *matCellDef="let monthTotal">
          <span class="code-cell bg-emerald-600">{{monthTotal.entityCode}}</span>
          {{monthTotal.entityName}}
        </td>
        <td mat-footer-cell *matFooterCellDef> Итого </td>
      </ng-container>

      @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before" rowspan="2">{{column.header}}</th>
          <td mat-cell *matCellDef="let monthTotal">{{column.cell(monthTotal)}}</td>
          <td mat-footer-cell *matFooterCellDef>{{column.footer()}}</td>
        </ng-container>
      }

      <ng-container matColumnDef="fuel">
        <th mat-header-cell *matHeaderCellDef colspan="2"> <div class="fuel-header">ГСМ</div> </th>    
      </ng-container>

      <ng-container matColumnDef="mileage">
        <th mat-header-cell *matHeaderCellDef colspan="2"> <div class="mileage-header">Пробег</div> </th>    
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef rowspan="2"></th>
        <td mat-cell *matCellDef="let row">
          @if (expandedRow === row) {
            <mat-icon>keyboard_arrow_up</mat-icon> 
          } @else {
            <mat-icon matBadge="{{row.subTotals.length}}" [matBadgeHidden]="!row.subTotals[1]">keyboard_arrow_down</mat-icon>
          }            
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
    
      <ng-container matColumnDef="expandedRow">
        <td mat-cell *matCellDef="let row" [attr.colspan]="dataColumns.length">
          <div [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="row.subTotals">

              <ng-container matColumnDef="childEntityName">
                <td mat-cell *matCellDef="let row">
                  <span class="code-cell bg-cyan-800">{{row.entityCode}}</span>
                  {{row.entityName}}</td>
              </ng-container>

              @for (column of columns; track column) {
                <ng-container [matColumnDef]="column.columnDef">
                  <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
                </ng-container>
              }
              
              <ng-container matColumnDef="expand">
                <td mat-cell *matCellDef="let row"></td>
              </ng-container>

              @if (row.subTotals[1]) {
                <tr mat-row *matRowDef="let row; columns: expandDataColumns;"></tr>
              } @else {
                <tr mat-row *matRowDef="let row; columns: ['childEntityName'];"></tr>
              }              
            </table>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="mainHeadersColumns; sticky: true" class="small-header"></tr>
      <tr mat-header-row *matHeaderRowDef="childHeadersColumns; sticky: true" class="small-header"></tr>
      <tr mat-row *matRowDef="let row; columns: dataColumns;" (click)="expandedRow = expandedRow == row ? null : row" class="data-row"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedRow'];" class="expanded-row"></tr>
      <tr mat-footer-row *matFooterRowDef="dataColumns; sticky: true"></tr>
    </table>
  </div>
</div>
 