<div class="container">
  <div class="header justify-between">
    <button mat-raised-button class="invisible"><mat-icon>description</mat-icon>Скачать</button>
    <h1>{{title}}</h1>
    <button mat-raised-button color="green"><mat-icon>description</mat-icon>Скачать</button>
  </div>
  <div class="table-density-4">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  
      <ng-container matColumnDef="driverFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Водитель </th>
        <td mat-cell *matCellDef="let driverTotal">
          <span class="code-cell bg-emerald-600">{{driverTotal.driverPersonnelNumber}}</span>
          {{driverTotal.driverFullName}}</td>
      </ng-container>

      @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">{{column.header}}</th>
          <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
        </ng-container>
      }

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          @if (expandedRow === row) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </td>
      </ng-container>
    
      <ng-container matColumnDef="expandedRow">
        <td mat-cell *matCellDef="let row" [attr.colspan]="dataColumns.length" class="expanded-td">
          <div [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="row.transportTotals">

              <ng-container matColumnDef="transportName">
                <td mat-cell *matCellDef="let row">
                  <span class="code-cell bg-cyan-800">{{row.transportCode}}</span>
                  {{row.transportName}}  
              </ng-container>

              @for (column of columns; track column) {
                <ng-container [matColumnDef]="column.columnDef">
                  <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
                </ng-container>
              }
              
              <ng-container matColumnDef="expand">
                <td mat-cell *matCellDef="let row"></td>
              </ng-container>

              <tr mat-row *matRowDef="let row; columns: expandDataColumns;" class="data-row"></tr>
            </table>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: dataColumns;"
          class="data-row"
          [class.active-expanded-row]="expandedRow === row"
          (click)="expandedRow = expandedRow === row ? null : row">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedRow'];" class="expanded-row"></tr>
    </table>
  </div>
</div>
 