<div mat-dialog-content class="form-field-density-5 custom-mat-form-field-disabled-style">

  <div class="flex items-center justify-between icon-button-density-3">

    <div class="flex items-center justify-between w-72">
      <h2>{{dialogTitle}}</h2>
      <mat-form-field class="w-24">
        <input matInput [(ngModel)]="waybill.number" [disabled]="!data.editMode">
      </mat-form-field>
    </div>

    <div class="flex gap-1">
      <button mat-icon-button *ngIf="!data.waybillId && !data.editMode" (click)="nextWaybill()"><mat-icon>add</mat-icon></button>
      <button mat-icon-button *ngIf="waybill.id && data.editMode" (click)="disableEdit()"><mat-icon>arrow_back</mat-icon></button>
      @if (data.editMode) {
        <button mat-icon-button (click)="saveWaybill()"><mat-icon>check</mat-icon></button>
      }
      @else {
        <button mat-icon-button (click)="enableEdit()"><mat-icon>edit</mat-icon></button>
      }
      <button mat-icon-button [mat-dialog-close]="changesWereMade"><mat-icon>close</mat-icon></button>
    </div>

  </div>

  <div class="flex justify-between items-end mt-2 mb-1">
    <div class="flex gap-4 items-end">
      <div>
        <div class="flex gap-1.5 items-center justify-end">
          <h4>Шифр</h4>
          <mat-form-field class="w-24">
            <input matInput [matAutocomplete]="transport" [(ngModel)]="transportFilter" (ngModelChange)="filterTransports()" [disabled]="!data.editMode">
            <mat-autocomplete #transport="matAutocomplete" (optionSelected)='setTransport($event.option.value)' [displayWith]="getTransportCode">
              <mat-option *ngFor="let transport of filteredTransports" [value]="transport">{{transport.code}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
  
        <div class="my-1">
          <mat-form-field class="icon-button-density-3 w-full">
            <input matInput [min]="minDate" [matDatepicker]="picker" [(ngModel)]="waybill.date" class="hidden" [disabled]="!data.editMode">
            <span class="font-bold">{{waybill.date | rangeDate : waybill.days}}</span>
            <mat-datepicker #picker></mat-datepicker>
            <button mat-icon-button matSuffix color="primary" (click)="picker.open()" [disabled]="!data.editMode"><mat-icon>today</mat-icon></button>
          </mat-form-field>
        </div>
        <div class="flex items-center justify-between w-72">
          <h4>Водитель</h4>
          <mat-form-field class="w-52">
            <input matInput [matAutocomplete]="driver" [(ngModel)]="driverFilter" (ngModelChange)="filterDrivers()" spellcheck="false" [disabled]="!data.editMode">
            <mat-autocomplete #driver="matAutocomplete" (optionSelected)='setDriver($event.option.value)' [displayWith]="driverFullNamePipe.transform">
              <mat-option *ngFor="let driver of filteredDrivers" [value]="driver">{{driver | driverFullName}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
  
      <div class="text-center">
        <h4>Транспорт</h4>
        <div class="display-value-cell mb-1">{{waybill.transport?.name}}</div>
        <div class="flex gap-1.5 items-center">
          <h4 class="whitespace-nowrap">Табельный №</h4>
          <div class="display-value-cell w-16">{{waybill.driver?.personnelNumber}}</div>
        </div>
      </div>
  
      <div class="text-center">
        <h4>Выдача ГСМ</h4>
        <div class="grid grid-cols-fixed-3 gap-x-1 mt-1">
          <h5>Начало</h5>
          <h5>Выдано</h5>
          <h5>Конец</h5>
          <mat-form-field class="w-18">
            <input matInput [(ngModel)]="waybill.startFuel" maxlength="4" [disabled]="!data.editMode">
          </mat-form-field>
          <mat-form-field class="w-18">
            <input matInput [(ngModel)]="waybill.fuelTopUp" maxlength="4" [disabled]="!data.editMode">
          </mat-form-field>
          <mat-form-field class="w-18">
            <input matInput [(ngModel)]="waybill.endFuel" maxlength="4" [disabled]="!data.editMode">
          </mat-form-field>
        </div>
      </div>
  
      <div class="text-center">
        <h4>Расход ГСМ</h4>
        <div class="grid grid-cols-fixed-2 gap-x-1 mt-1">
          <h5>По факту</h5>
          <h5>По норме</h5>
          <div class="display-value-cell w-20">{{waybill.factFuelConsumption}}</div>
          <div class="display-value-cell w-20">{{waybill.normalFuelConsumption}}</div>
        </div>
      </div>
    </div> 

    <div class="text-center">
      <div class="flex gap-1 items-center justify-center icon-button-density-5">
        <h4>Omnicomm</h4>
        <button mat-icon-button color="primary" (click)="getOmnicommFuel()" [disabled]="!waybill.transport?.omnicommId">
          <mat-icon>downloading</mat-icon>
        </button>
      </div>
      <h5>{{omnicommFuel.transportName}}</h5>
      <div class="grid grid-cols-fixed-5 gap-x-1">
        <h5>Начало</h5>
        <h5>Выдано</h5>
        <h5>Конец</h5>
        <h5>Расход</h5>
        <h5>Сливы</h5>
        <div class="display-value-cell w-16">{{omnicommFuel.startFuel}}</div>
        <div class="display-value-cell w-16">{{omnicommFuel.fuelTopUp}}</div>
        <div class="display-value-cell w-16">{{omnicommFuel.endFuel}}</div>
        <div class="display-value-cell w-16">{{omnicommFuel.fuelConsumption}}</div>
        <div class="display-value-cell w-16">{{omnicommFuel.draining}}</div>
      </div>
    </div>
  </div>

  <div>
    <div class="flex items-end justify-between">
      <h3>Выполнение работ</h3>
      <mat-form-field class="w-24">
        <mat-select [(ngModel)]="pageSize" (selectionChange)="changePageSize()" [disabled]="!data.editMode">
          <mat-option *ngFor="let number of pageSizes" [value]="number">{{number}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="hidden">
        <mat-paginator [pageSize]="pageSize"></mat-paginator>
      </div>
    </div>
  </div>

  <div class="mt-0.5 mb-2">
    <table mat-table [dataSource]="dataSource" class="table-density-4 table-font-16">

      <ng-container matColumnDef="productionCostCode">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> ШПЗ </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.productionCostCode" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="numberOfRuns">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> Число ездок </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.numberOfRuns" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="totalMileage">
        <th mat-header-cell *matHeaderCellDef> Всего </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.totalMileage" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="totalMileageWithLoad">
        <th mat-header-cell *matHeaderCellDef> В т.ч. с грузом </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.totalMileageWithLoad" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="transportedLoad">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> Перевезено груза, тонн </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.transportedLoad" class="table-input font-bold" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="norm">
        <th mat-header-cell *matHeaderCellDef> Норма </th>
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.norm" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="fact">
        <th mat-header-cell *matHeaderCellDef> Факт. </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.fact" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="mileageWithLoad">
        <th mat-header-cell *matHeaderCellDef> Длина ездки с грузом </th>    
        <td mat-cell *matCellDef="let operation" class="calculated-cell font-bold">{{operation.mileageWithLoad}}</td>
      </ng-container>

      <ng-container matColumnDef="normShift">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> Нормо-смена </th>    
        <td mat-cell *matCellDef="let operation" class="calculated-cell">{{operation.normShift}}</td>
      </ng-container>

      <ng-container matColumnDef="conditionalReferenceHectares">
        <th mat-header-cell *matHeaderCellDef rowspan="2"> Условный эталонный гектар </th>    
        <td mat-cell *matCellDef="let operation" class="calculated-cell">{{operation.conditionalReferenceHectares}}</td>
      </ng-container>

      <ng-container matColumnDef="fuelConsumptionPerUnit">
        <th mat-header-cell *matHeaderCellDef> За 1 ед. </th>    
        <td mat-cell *matCellDef="let operation">
          <input [(ngModel)]="operation.fuelConsumptionPerUnit" class="table-input" [disabled]="!data.editMode"></td>
      </ng-container>

      <ng-container matColumnDef="totalFuelConsumption">
        <th mat-header-cell *matHeaderCellDef> Всего </th>    
        <td mat-cell *matCellDef="let operation" class="calculated-cell">{{operation.totalFuelConsumption}}</td>
      </ng-container>

      <ng-container matColumnDef="mileage">
        <th mat-header-cell *matHeaderCellDef colspan="2"> Пробег </th>    
      </ng-container>

      <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef colspan="3"> Сделано </th>    
      </ng-container>

      <ng-container matColumnDef="fuel">
        <th mat-header-cell *matHeaderCellDef colspan="2"> Норма расхода ГСМ </th>    
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="mainHeadersColumns" class="small-header"></tr>
      <tr mat-header-row *matHeaderRowDef="childHeadersColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: dataColumns;" class="small-row"></tr> 

    </table>
  </div>

  <div class="flex gap-4 justify-between text-center">
    <div class="flex gap-4">

      <div class="w-54">
        <div class="flex items-center justify-center gap-1 icon-button-density-5">
          <h4>Для расчетов</h4>
          <button mat-icon-button color="primary" (click)="transferValues()" [disabled]="!data.editMode"><mat-icon>arrow_forward</mat-icon></button>
        </div>
        <div class="grid grid-cols-fixed-3 gap-1">
          <h5 class="h-4 leading-4">Норма</h5>
          <h5 class="h-4 leading-4">Факт</h5>
          <h5 class="h-4 leading-4">Расценка</h5>
          @for (item of calculationHelp() | keyvalue: keyDescOrder; track item.key) {
            <div class="calculation-helper-cell bg-cyan-800">{{item.key | toFixed: 2}}</div>
            <div class="calculation-helper-cell bg-emerald-600">{{item.value.quantity | toFixed: 3}}</div>
            <div class="calculation-helper-cell bg-pink-600">{{item.value.rate | toFixed: 3}}</div>
          } @empty {
            <div class="calculation-helper-cell bg-cyan-800">0.00</div>
            <div class="calculation-helper-cell bg-emerald-600">0.000</div>
            <div class="calculation-helper-cell bg-pink-600">0.000</div>
          }
        </div>
      </div>
  
      <div>
        <div class="flex gap-4 mb-1">
          <div *ngFor="let _ of [].constructor(2)" class="flex gap-3">
            <h4 class="w-24">Количество</h4>
            <h4 class="w-20">Расценка</h4>
            <h4 class="w-20">Сумма</h4>
          </div>
        </div>
        <div class="grid grid-rows-3 grid-flow-col gap-x-4 gap-y-1">
          <div *ngFor="let calculation of waybill.calculations" class="flex items-center">
            <mat-form-field class="w-24">
              <input matInput [(ngModel)]="calculation.quantity" [disabled]="!data.editMode">
            </mat-form-field>
            <span class="w-3">&#215;</span>
            <mat-form-field class="w-20">
              <input matInput [(ngModel)]="calculation.price" [disabled]="!data.editMode">
            </mat-form-field>
            <span class="w-3">=</span>
            <div class="display-value-cell w-20">{{calculation.sum}}</div>
          </div>
        </div>
      </div>
  
      <div>
        <h4>Отработано</h4>
        <div class="grid grid-cols-fixed-2 gap-x-1 mt-1">
          <h5>Дней</h5> 
          <h5>Часов</h5>
          <mat-form-field class="w-16">
            <input matInput [(ngModel)]="waybill.days" maxlength="1" [disabled]="!data.editMode">
          </mat-form-field>
          <mat-form-field class="w-16">
            <input matInput [(ngModel)]="waybill.hours" [disabled]="!data.editMode">
          </mat-form-field> 
        </div>
      </div>
    </div>

    <div class="flex gap-4">

      <div class="w-34 pt-1.5">
        <h3 class="leading-6">Сумма заработка</h3>
        <div class="w-full money-div mt-1">{{waybill.earnings}}</div>   
      </div>

      <div class="w-38">
        <div class="flex justify-between items-center mb-1">
          <h4>Премия</h4>
          <mat-form-field class="mat-input-font-bold mat-form-field-infix-y-padding-0 w-20">
            <input matInput [(ngModel)]="waybill.bonusSizeInPercentages" class="text-end" [disabled]="!data.editMode">
            <span matSuffix class="font-bold pr-1.5">%</span>
          </mat-form-field>
        </div>
        <mat-form-field class="mat-input-font-bold w-full">
          <input matInput [(ngModel)]="waybill.bonus" [disabled]="!data.editMode || +waybill.bonusSizeInPercentages !== 0">
        </mat-form-field>
        <div class="flex justify-between items-center my-0.5">
          <h4>Выходные</h4>
          <mat-checkbox [(ngModel)]="waybill.weekendEqualsEarnings" class="checkbox-density-3" color="primary" [disabled]="!data.editMode">
            <span class="font-bold -ml-1">100%</span>
          </mat-checkbox>
        </div>
        <mat-form-field class="mat-input-font-bold w-full">
          <input matInput [(ngModel)]="waybill.weekend" [disabled]="!data.editMode || waybill.weekendEqualsEarnings">
        </mat-form-field>
      </div>
    </div>
  </div> 
</div>    
