th{ font-weight: bold; }

.mat-column-productionCostCode{
  width: 20%;
}

.mat-column-conditionalReferenceHectares, .mat-column-costPrice{
  text-align: end;
  width: 40%;
}

.mat-column-expand{ text-align: center; }

.data-row td { border-bottom-width: 0; }
