th{ font-weight: bold; }
.small-header{ height: 22px; }
.mat-mdc-header-row:last-child th { top: 22px !important; }

.mat-column-entity{
  min-width: 300px;
  width: 300px;  
}

.mat-column-fuelTopUp, .mat-column-factFuelConsumption, .mat-column-normalFuelConsumption, .mat-column-fuelEconomy{
  min-width: 132px;
  width: 25%;
  text-align: end;
}

.mat-column-fuelConsumption{ border-bottom-width: 0; }
.fuel-consumption-header{
  display: flex;
  justify-content: center;
  padding: 0 70.95px 0 calc(50% - 16px);
}

.mat-column-expand{
  min-width: 56px;
  width: 56px;
  overflow: initial;
}

.mat-column-expandedRow{
  padding: 0;
  tr:not(:last-child) td{ border-bottom: 1px solid #E0E0E0; }
}

.no-border-bottom td { border-bottom-width: 0; }
