<h1 class="leading-9 text-center bg-neutral-100 mt-4 py-1">{{title}}</h1>
<div class="tabs-density-3 tabs-custom-overflow custom-mat-tab-labels">
  <mat-tab-group [(selectedIndex)]="tabIndex" mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Итого">
      <div class="container mt-2">
        <div class="text-center button-toggle-density-3">
          <mat-button-toggle-group [(ngModel)]="mainEntity" class="font-bold">
            <mat-button-toggle value="driver">По водителям</mat-button-toggle>
            <mat-button-toggle value="transport">По транспорту</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        @if (mainEntity === 'driver') {
          <drivers-fuel (identifiers)="showWaybills($event)"></drivers-fuel>
        } @else {
          <transports-fuel (identifiers)="showWaybills($event)"></transports-fuel>
        }
      </div>
    </mat-tab>
    <mat-tab label="Путевые листы">
      <div class="container mt-2">
        <fuel-waybills [identifiers]="identifiers"></fuel-waybills>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>