th{ font-weight: bold; }
.small-header{ height: 22px; }

.mat-column-days, .mat-column-hours, .mat-column-earnings, .mat-column-weekend, .mat-column-bonus, 
.mat-column-factFuelConsumption, .mat-column-normalFuelConsumption, .mat-column-numberOfRuns, .mat-column-totalMileage, 
.mat-column-totalMileageWithLoad, .mat-column-transportedLoad, .mat-column-normShift, .mat-column-conditionalReferenceHectares{
  text-align: end;
  padding: 0 0 0 6px;
}

.mat-column-mainEntityName{ padding-right: 0; }
.mat-column-childEntityName{ padding: 0 0 0 32px; }
.mat-column-mainEntityName, .mat-column-childEntityName{
  min-width: 248px;
  width: 248px;  
}

.mat-column-waybillsCount{
  text-align: end;
  min-width: 52px;
  width: 52px;
  padding: 0;
}

.mat-column-days{
  min-width: 48px;
  width: 48px;
}

.mat-column-hours{
  min-width: 58px;
  width: 58px;
}

.mat-column-earnings{
  min-width: 80px;
  width: 80px;
}

.mat-column-weekend{
  min-width: 58px;
  width: 58px;
}

.mat-column-bonus{
  min-width: 76px;
  width: 76px;
}

.mat-column-fuel, .mat-column-mileage{ border-bottom-width: 0; }
.fuel-header{
  display: flex;
  justify-content: center;
  padding: 0 33.42px 0 45%;
}

.mileage-header{
  display: flex;
  justify-content: center;
  padding: 0 50.17px 0 46.45%;
}

.mat-column-factFuelConsumption{
  min-width: 56px;
  width: 56px;
}

.mat-column-normalFuelConsumption{
  min-width: 68px;
  width: 68px;
}

.mat-column-numberOfRuns{
  min-width: 64px;
  width: 64px;
}

.mat-column-totalMileage{
  min-width: 72px;
  width: 72px;
}

.mat-column-totalMileageWithLoad{
  min-width: 86px;
  width: 86px;
  white-space: nowrap;
}

.mat-column-transportedLoad{
  min-width: 108px;
  width: 108px;
}

.mat-column-normShift{
  min-width: 74px;
  width: 74px;
}

.mat-column-conditionalReferenceHectares{
  min-width: 94px;
  width: 94px;
}

.mat-column-expand{
  width: 48px;
  padding: 0 6px;
  text-align: center;
  overflow: initial;
}

.mat-column-expandedRow{
  padding: 0;
  tr:first-child:not(:only-child) td{ border-top: 1px solid #E0E0E0; }
}

.data-row td{ border-bottom-width: 0; }
tr.expanded-row{ height: 0;}

.mdc-data-table__row:hover{
  font-weight: bold;
  background: whitesmoke;
}

.mat-mdc-footer-row td{
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #1F1F1F;
}

.code-cell{
  color: white;
  font-weight: bold;
  text-align: center;
  height: 20px;
  padding: 0 8px;
  border-radius: 2px; 
}
