@use '@angular/material' as mat;
@tailwind utilities;

@font-face{
  font-family: 'Inter Tight';
  src: url('./assets/InterTight-ExtraLight.ttf');
}

body{ margin: 0; font-family: 'Inter Tight', sans-serif; }
h1, h2, h3, h4, h5{ margin: 0; }

@include mat.form-field-density(-1);

//-----------------MAT TABLE SECTION-----------------
.table-font-16{
  > thead > tr > .mat-mdc-header-cell{
    font-size: 16px;
    line-height: 16px;
  }
  > tbody > tr > .mat-mdc-cell{ font-size: 16px; }
}

.hoverable-row:not(.active-expanded-row):hover{
  font-weight: bold;
  background: whitesmoke;
}

.table-footer td{
  font-weight: bold;
  border-top: 1px solid #8E8E8E;
}

.inline-editing-row > .mat-mdc-cell{ letter-spacing: var(--mat-form-field-container-text-tracking); }

.sort-arrow-margin-0{
  div.mat-sort-header-arrow{ margin: 0; }
}

.sort-header-center{
  .mat-sort-header-container {
    padding-left: 18px;
    justify-content: center;
  }
}

tr.expanded-row{ height: 0; }
.mat-table-row-height{ height: calc(var(--mat-table-row-item-container-height) - 1px); }
//-----------------END OF MAT TABLE SECTION-----------------

.mat-green{
  background-color: #58BC82 !important;
  color: white !important;
}
  
.mat-grey{
  background-color: #6c8794 !important;
  color: white !important;
}

.table-density-3{
  @include mat.table-density(-3);
}

.table-density-4{
  @include mat.table-density(-4);
}

.form-field-density-5{
  @include mat.form-field-density(-5);
}

.icon-button-density-5{
  @include mat.icon-button-density(-5);  
}

.icon-button-density-3{
  @include mat.icon-button-density(-3);
}

.button-density-2{
  @include mat.button-density(-2);  
}

.button-toggle-density-3{
  @include mat.button-toggle-density(-3);  
}

.tabs-density-3{
  @include mat.tabs-density(-3);  
}

.checkbox-density-3{
  @include mat.checkbox-density(-3);  
}

.mat-select-font-bold{
  .mat-mdc-select-value{ font-weight: bold; }
}

.mat-input-font-bold{ 
  .mat-mdc-input-element{ font-weight: bold !important; }
} 

.clearable-select{
  .mat-mdc-select-arrow{ display: none; }
  .mat-mdc-form-field-icon-suffix{ padding-right: 4px; }
}

.custom-mat-form-field-disabled-style{
  .mat-form-field-disabled{
    .mat-mdc-input-element, .mat-mdc-select-value{ color: #545454 !important; }
    .mdc-line-ripple::before{ background-color: #00000099; }
  }
}

.custom-mat-tab-labels{
  .mdc-tab__text-label{
    font-size: 16px;
    font-weight: bold;    
  }
}

.mat-mdc-unelevated-button{
  border-radius: 9999px !important;
  .mdc-button__label{ letter-spacing: .006rem; }
  > .mat-icon{ margin-right: 4px !important; }
}

.code-cell{
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 2px; 
}
