<h1 class="leading-10 text-center bg-neutral-100 mt-4 py-2">{{title}}</h1>
<div class="form-field-density-5 px-4">
  <table mat-table [dataSource]="dataSource" matSort class="table-density-3 table-font-16">

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Фамилия </th>    
      <td mat-cell *matCellDef="let driver">
        @if (driver.id === editableDriver.id) {
          <mat-form-field class="-ml-4">
            <input matInput [(ngModel)]="editableDriver.lastName">
          </mat-form-field>
        } @else{
          {{driver.lastName}}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
      <td mat-cell *matCellDef="let driver">
        @if (driver.id === editableDriver.id) {
          <mat-form-field class="-ml-4">
            <input matInput [(ngModel)]="editableDriver.firstName">
          </mat-form-field>
        } @else{
          {{driver.firstName}}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Отчество </th>
      <td mat-cell *matCellDef="let driver">
        @if (driver.id === editableDriver.id) {
          <mat-form-field class="-ml-4">
            <input matInput [(ngModel)]="editableDriver.middleName">
          </mat-form-field>
        } @else{
          {{driver.middleName}}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="personnelNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Табельный номер </th>
      <td mat-cell *matCellDef="let driver">
        @if (driver.id === editableDriver.id) {
          <mat-form-field class="w-20 -mr-4">
            <input matInput [(ngModel)]="editableDriver.personnelNumber" class="text-end">
          </mat-form-field>
        } @else{
          {{driver.personnelNumber}}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-flat-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Добавить</button>
      </th>
      <td mat-cell *matCellDef="let driver">
        <div class="flex gap-1 button-density-2">
          @if (driver.id === editableDriver.id) {
            <button mat-flat-button color="green" (click)="updateDriver()" class="w-30">
              <mat-icon>check</mat-icon>Сохранить</button>
            <button mat-flat-button color="grey" (click)="cancel()" class="w-27">
              <mat-icon>close</mat-icon>Отмена</button>
          } @else {
            <button mat-flat-button color="primary" (click)="editDriver(driver)" class="w-30">
              <mat-icon>edit</mat-icon>Изменить</button>
            <button mat-flat-button color="warn" (click)="openDeleteDialog(driver)" class="w-27">
              <mat-icon>delete</mat-icon>Удалить</button>
          }
        </div>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="inline-editing-row"></tr>
  </table>
</div>
