<h1 class="leading-10 text-center bg-neutral-100 mt-4 py-2">{{title}}</h1>
<div class="container table-density-3 form-field-density-5">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </th>    
      <td mat-cell *matCellDef="let driver" [ngSwitch]="driver.id">
        <mat-form-field *ngSwitchCase="editableDriver.id">
          <input matInput [(ngModel)]="editableDriver.lastName" placeholder="Введите фамилию">
        </mat-form-field>
        <span *ngSwitchDefault>{{driver.lastName}}</span></td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
      <td mat-cell *matCellDef="let driver" [ngSwitch]="driver.id">
        <mat-form-field *ngSwitchCase="editableDriver.id">
          <input matInput [(ngModel)]="editableDriver.firstName" placeholder="Введите имя">
        </mat-form-field>
        <span *ngSwitchDefault>{{driver.firstName}}</span></td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Отчество </th>
      <td mat-cell *matCellDef="let driver" [ngSwitch]="driver.id">
        <mat-form-field *ngSwitchCase="editableDriver.id">
          <input matInput [(ngModel)]="editableDriver.middleName" placeholder="Введите отчество">
        </mat-form-field>
        <span *ngSwitchDefault>{{driver.middleName}}</span></td>
    </ng-container>

    <ng-container matColumnDef="personnelNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before"> Табельный номер </th>
      <td mat-cell *matCellDef="let driver" [ngSwitch]="driver.id">
        <mat-form-field *ngSwitchCase="editableDriver.id">
          <input matInput [(ngModel)]="editableDriver.personnelNumber" placeholder="Введите табельный номер">
        </mat-form-field>
        <span *ngSwitchDefault>{{driver.personnelNumber}}</span></td>
    </ng-container>

    <ng-container matColumnDef="operations">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-flat-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Добавить</button>
      </th>
      <td mat-cell *matCellDef="let driver">
        <div class="flex gap-1 button-density-2">
          @if (driver.id === editableDriver.id) {
            <button mat-flat-button color="green" (click)="updateDriver()" class="w-120px">
              <mat-icon>check</mat-icon>Сохранить</button>
            <button mat-flat-button color="grey" (click)="cancel()" class="w-106px">
              <mat-icon>close</mat-icon>Отмена</button>
          } @else {
            <button mat-flat-button color="primary" (click)="editDriver(driver)" class="w-120px">
              <mat-icon>edit</mat-icon>Изменить</button>
            <button mat-flat-button color="warn" (click)="openDeleteDialog(driver)" class="w-106px">
              <mat-icon>delete</mat-icon>Удалить</button>
          }
        </div>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
