th{ font-weight: bold; }

.mat-column-firstName, .mat-column-lastName, .mat-column-middleName{ min-width: 250px; }

.mat-column-personnelNumber{ text-align: end; }

.mat-column-operations{
	width: 248px;
	padding-right: 0;
	text-align: end;
}