<div mat-dialog-content>
  <div class="flex items-center justify-between icon-button-density-3">
    <h2>Добавление расценки</h2>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div class="text-center mt-4">
    <mat-form-field>
      <mat-label>Наименование работ</mat-label>
      <input matInput [(ngModel)]="rate.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Норма</mat-label>
      <input matInput [(ngModel)]="rate.norm">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Расценка</mat-label>
      <input matInput [(ngModel)]="rate.value">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Норма расхода ГСМ</mat-label>
      <input matInput [(ngModel)]="rate.fuelConsumption">
    </mat-form-field>
    <button mat-flat-button (click)="createRate()" color="green">Добавить</button>
  </div>     
</div>    
